.location {
  text-align: center;
  padding-bottom: 30px;
}
@media (min-width: 1440px) {
  .location {
    width: 1060px;
    padding-top: 10px;
    margin: 0 auto;
  }
}
.location__install-google {
  width: 325px;
}
@media (min-width: 1440px) {
  .location__install-google {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 1060px;
    height: 567px;
    text-align: left;
  }
}
.location__install-google__install-google--box {
  width: 100%;
}
.location__title {
  color: #CCCCCC;
  font-family: "Nunito, sans-serif";
  font-size: 20px;
  font-weight: bold;
  line-height: 140%;
  padding-bottom: 10px;
}
@media (min-width: 1440px) {
  .location__title {
    font-size: 44px;
  }
}
.location__description {
  color: #A2A2A2;
  font-family: "Nunito, sans-serif";
  font-size: 18px;
  font-weight: normal;
  line-height: 140%;
  width: 317px;
  line-height: 140%;
}
@media (min-width: 1440px) {
  .location__description {
    font-size: 24px;
    width: 520px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
.location__data-hosting-servers-img {
  width: 342px;
  height: 342px;
  margin: 30px 0 0;
}
@media (min-width: 1440px) {
  .location__data-hosting-servers-img {
    width: 386px;
    height: 386px;
    margin-top: 50px;
  }
}
.location__info-box {
  width: 300px;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .location__info-box {
    display: none;
  }
}
.location__paragraph-title {
  color: #CCCCCC;
  font-family: "Nunito, sans-serif";
  font-size: 24px;
  font-weight: bold;
  line-height: 140%;
  width: 300px;
  margin: 40px auto 0;
}
@media (min-width: 1440px) {
  .location__paragraph-title {
    font-size: 44px;
    width: 490px;
  }
}
.location__paragraph-text {
  color: #CCCCCC;
  font-family: "Nunito, sans-serif";
  font-size: 18px;
  font-weight: normal;
  line-height: 140%;
  width: 300px;
  text-align: center;
  line-height: 140%;
  margin: 20px auto 0;
}
@media (min-width: 1440px) {
  .location__paragraph-text {
    font-size: 24px;
  }
}
@media (min-width: 1440px) {
  .location__container {
    display: flex;
    justify-content: space-around;
  }
}
.location__box {
  position: relative;
  background: linear-gradient(to bottom, #4C4C59, #3E3E48);
  margin: 90px -25px;
  border-radius: 20px;
  padding: 20px 25px;
}
@media (min-width: 1440px) {
  .location__box {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 342px;
    margin: 40px 0;
    padding: 20px 0;
    gap: 20px;
  }
}
.location__country-img {
  position: absolute;
  top: -28px;
  right: 167px;
  width: 56px;
  height: 56px;
  color: #FFA903;
}
@media (min-width: 1440px) {
  .location__country-img {
    right: 152px;
  }
}
.location__country-title {
  color: #FFA903;
  font-family: "Nunito, sans-serif";
  font-size: 18px;
  font-weight: normal;
  line-height: 140%;
  width: 340px;
  margin-top: 20px;
  font-size: 18px;
}
@media (min-width: 1440px) {
  .location__country-title {
    font-size: 24px;
  }
}
.location__country-bloc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.location__country {
  width: 140px;
  margin-top: 40px;
}
.location__country-name {
  margin-top: 15px;
}
@media (min-width: 1440px) {
  .location__paragraph-container {
    display: flex;
    margin-top: 50px;
  }
}
@media (min-width: 1440px) {
  .location__paragraph-bloc {
    width: 576px;
  }
}
@media (min-width: 1440px) {
  .location__paragraph-bloc .location__paragraph-title {
    width: 526px;
    text-align: left;
    margin-bottom: 30px;
    padding-right: 30px;
  }
}
.location__paragraph-bloc .location__paragraph-text {
  text-align: left;
}
@media (min-width: 1440px) {
  .location__paragraph-bloc .location__paragraph-text {
    width: 524px;
    margin-top: 30px;
  }
}
.location__paragraph-bloc .location__paragraph-text .location__paragraph-span {
  font-weight: bold;
}
@media (min-width: 1440px) {
  .location__paragraph-bloc .location__paragraph-text .location__paragraph-span {
    font-size: 24px;
  }
}
.location__box--map {
  margin-top: 30px;
}
@media (min-width: 1440px) {
  .location__box--map {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 550px;
    height: 400px;
    margin-top: 370px;
    margin-left: -15px;
  }
}
.location__map-img {
  height: 190px;
}
@media (min-width: 1440px) {
  .location__map-img {
    width: 100%;
    height: 304px;
  }
}
.location__ip-btn {
  width: 248px;
  height: 48px;
  color: black;
  background-color: #FFA903;
  border-radius: 10px;
  margin: 0 auto;
  cursor: pointer;
  font-family: "Nunito, sans-serif";
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
}

/*# sourceMappingURL=location.css.map */
