//Colors
$color-Light-gray: #CCCCCC;
$color-neutral-gray: #A2A2A2;
$color-amber: #FFA903;
$color-mint-green: #4FB29E;

	//Fonts
$font-family-primary: 'Nunito, sans-serif';


//Font size
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-subtitle: 18px;
$font-size-large: 20px;
$font-size-xlarge: 24px;
$font-size-xxlarge: 28px;
$font-size-xxxlarge: 32px;
$font-size-title: 44px;
//$font-size-paragraph: 16px;




//Font-weight
$font-weight-bold: bold;
$font-weight-normal: normal;


//Line-height
$line-height-normal: 140%;