* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.App {
  width: 390px;
  background-color: #3E3E48;
  margin: 0 auto;
}

main {
  padding: 20px 25px 30px;
  /*padding: 20px 18px 30px;*/
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .App {
    width: 1440px;
  }
}